<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/candidates_registration.css">
</head>
<body>
    <div class="container">
        <h2 style="text-align: center;">CANDIDATES REGISTRATION</h2>
        <form action="/candidates_registration" method="post">

             <!-- ID Input Field -->
           <div class="form-group">
            <label for="id">ID</label>
            <input type="text" id="id" name="id" placeholder="Enter ID">
          </div>
    
          <!-- First Name Input Field -->
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" name="firstName" placeholder="Enter First Name">
          </div>
    
          <!-- Middle Name Input Field -->
          <div class="form-group">
            <label for="middleName">Middle Name</label>
            <input type="text" id="middleName" name="middleName" placeholder="Enter Middle Name">
          </div>
    
          <!-- Last Name Input Field -->
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" name="lastName" placeholder="Enter Last Name">
          </div>
    
          <!-- DOB Input Field -->
          <div class="form-group">
            <label for="dob">Position</label>
            <input type="text" id="Position" name="Position">
          </div>
    
          <!-- Username Input Field -->
          <div class="form-group">
            <label for="username">Party ID</label>
            <input type="text" id="partyID" name="PartyID" placeholder="Enter PartyID">
          </div>
    
          <!-- Password Input Field -->
          <div class="form-group">
            <label for="password">photo</label>
            <input type="file" id="password" name="photo">
          </div>
          
    
          <!-- Submit Button -->
          <button type="submit">Submit</button>
        </form>
      </div>
    
</body>
</html>