<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <link rel="stylesheet" href="/css/signUp.css">
</head>
<body>
    <div class="container">
  <h2>Sign Up</h2>
  <form action="/signUp" method="post" id="my_form">
    <div class="form-group">
      <label for="text">User Name</label><br>
      <input type="text" id="username" name="username" required minlength="3">
      <label for="email">Email:</label><br>
      <input type="text" id="email" name="email" required>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" >
    </div>
    <div class="form-group">
      <label for="password2">Confirm Password:</label>
      <input type="password" id="confirm_password" name="password2">
    </div>
        <button type="submit">Register</button>
        <p>Already have and account? <a href="../html/LogIn.html">Login</a></p>
        <script src="../Javascript/Signup.js"></script>
  </form>
</div>
 

</body>
</html>