<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/voters.css">
</head>
<body>
    <div class="container">
        <h2 style="text-align: center;">VOTERS REGISTRATION</h2>
        <form action="/voters" method="post">
    
          <!-- First Name Input Field -->
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" name="firstName" placeholder="Enter First Name">
          </div>
    
          <!-- Middle Name Input Field -->
          <div class="form-group">
            <label for="middleName">Middle Name</label>
            <input type="text" id="middleName" name="middleName" placeholder="Enter Middle Name">
          </div>
    
          <!-- Last Name Input Field -->
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" name="lastName" placeholder="Enter Last Name">
          </div>
    
          <!-- DOB Input Field -->
          <div class="form-group">
            <label for="dob">Date of Birth</label>
            <input type="date" id="dob" name="dob">
          </div>
    
          <!-- Username Input Field -->
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="Enter Username">
          </div>
    
          <!-- Password Input Field -->
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Enter Password">
          </div>
           <!-- ID Input Field -->
           <div class="form-group">
            <label for="id">ID</label>
            <input type="text" id="id" name="id" placeholder="Enter ID">
          </div>
    
          <!-- Submit Button -->
          <button type="submit">Submit</button>
        </form>
      </div>
    
</body>
</html>